/* bitbucket 7 */

.activities
{
	display: flex;
	flex-direction: column-reverse;
}

table.changed-commits-table > tbody
{
	display: flex;
	flex-direction: column-reverse;
	border-spacing: 2px;
}
.changed-commits-table .commit-message-cell
{
	max-width: 512px;
}

/* condense the UI to be sane, removing all those lines and padding */

.activity-item
{
	padding: 2px 2px !important;
}

/* bitbucket 6 */

#pull-request-activity
{
	display: flex;
	flex-direction: column-reverse;
}

div.detail > .commits-table > tbody
{
	display: flex;
	flex-direction: column-reverse;
}

div.detail > .commits-table tbody > tr
{
	border-top: 0px solid #DFE1E6 !important;
	border-bottom: 0px solid #DFE1E6 !important;
}

/* condense the UI to be sane, removing all those lines and padding */

.pull-request-activity .activity-item
{
	padding: 0 0 !important;
}

.pull-request-activity > li
{
	border-top: 0 !important;
}